<ul class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Registration</span>
        <span class="time-wrapper"><span class="time">09:00</span></span>
      </div>
      <div class="desc">Start the day with some pastries and a brew.</div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Keynote</span>
        <span class="time-wrapper"><span class="time">09:30</span></span>
      </div>
      <div class="desc">Collaborative live hacking for vulnerabilities in Java & JavaScript with Simon Maple.</div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Session 1</span>
        <span class="time-wrapper"><span class="time">10:30</span></span>
      </div>
      <div class="desc">We'll vote with our feet and attend the first session on the day.</div>
    </div>
  </li>

  <!-- Item 4 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Session 2</span>
        <span class="time-wrapper"><span class="time">11:30</span></span>
      </div>
      <div class="desc">After finding our feet with the unconference format, we're ready to get stuck into the 2nd session of the day.</div>
    </div>
  </li>

  <!-- Item 5 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Lunch</span>
        <span class="time-wrapper"><span class="time">12:30</span></span>
      </div>
      <div class="desc">Time for lunch kindly provided by our amazing hosts, Auto Trader.</div>
    </div>
  </li>
</ul>
