<ul class="timeline">
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Registration</span>
        <span class="time-wrapper"><span class="time">08:30</span></span>
      </div>
      <div class="desc">We start the day with some pastries and a brew.<br><br>It's also our first opportunity to propose some sessions for the day.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">The Marketplace</span>
        <span class="time-wrapper"><span class="time">09:00</span></span>
      </div>
      <div class="desc">The marketplace is filling with session proposals and a schedule starts to form.</div>
    </div>
  </li>

    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">Keynote Session</span>
                <span class="time-wrapper"><span class="time">09:30</span></span>
            </div>
            <div class="desc">The first session of the is a keynote delivered by <b><a href="https://www.helenjoscott.com">Helen Scott</a></b> from <a href="https://www.jetbrains.com">JetBrains</a></div>
        </div>
    </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Morning sessions</span>
        <span class="time-wrapper"><span class="time">10:00</span></span>
      </div>
      <div class="desc">We vote with our feet and immerse ourselves in the morning sessions.</div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Lunch</span>
        <span class="time-wrapper"><span class="time">12:00</span></span>
      </div>
      <div class="desc">Time for lunch kindly provided by our amazing hosts, <b><a href="https://careers.autotrader.co.uk">Auto Trader</a></b>.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Afternoon sessions</span>
        <span class="time-wrapper"><span class="time">13:00</span></span>
      </div>
      <div class="desc">Fully refueled we dive straight into the afternoon sessions.</div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Retrospective</span>
        <span class="time-wrapper"><span class="time">16:00</span></span>
      </div>
      <div class="desc">We wrap up the day by reflecting on what we've learned and sharing some of the highlights.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
	    <span class="flag">Evening social</span>
        <span class="time-wrapper"><span class="time">16:30</span></span>
      </div>
      <div class="desc">After an inspiring day we head to the evening social for a some food, drinks and no doubt more Java chat.<br><br>
      Huge thanks to <b><a href="http://www.ecomrecruitment.com/">ECOM</a></b> for sponsoring the social.</div>
    </div>
  </li>
</ul>
