<ul class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Registration</span>
        <span class="time-wrapper"><span class="time">08:30</span></span>
      </div>
      <div class="desc">We start the day with some pastries and a brew.<br><br>It's also our first opportunity to propose some sessions for the day.</div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Keynote</span>
        <span class="time-wrapper"><span class="time">09:30</span></span>
      </div>
      <div class="desc">Collaborative live hacking for vulnerabilities in Java & JavaScript with <a href="https://twitter.com/sjmaple">Simon Maple</a>.</div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Session 1</span>
        <span class="time-wrapper"><span class="time">10:30</span></span>
      </div>
      <div class="desc">We vote with our feet and attend the first session on the day.</div>
    </div>
  </li>

  <!-- Item 4 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Session 2</span>
        <span class="time-wrapper"><span class="time">11:30</span></span>
      </div>
      <div class="desc">We're starting to get comfortable with the unconference format so flow straight into the second session of the day.</div>
    </div>
  </li>

  <!-- Item 5 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Lunch</span>
        <span class="time-wrapper"><span class="time">12:30</span></span>
      </div>
      <div class="desc">Time for lunch kindly provided by our amazing hosts, Auto Trader.</div>
    </div>
  </li>

  <!-- Item 6 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Session 3</span>
        <span class="time-wrapper"><span class="time">13:30</span></span>
      </div>
      <div class="desc">Fully refueld we dive straight into the afternoon sessions.</div>
    </div>
  </li>

  <!-- Item 7 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Session 4</span>
        <span class="time-wrapper"><span class="time">14:30</span></span>
      </div>
      <div class="desc">On to the next session...</div>
    </div>
  </li>
  <!-- Item 8 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Session 5</span>
        <span class="time-wrapper"><span class="time">15:30</span></span>
      </div>
      <div class="desc">Last session of the day.</div>
    </div>
  </li>
  <!-- Item 9 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Closing keynote</span>
        <span class="time-wrapper"><span class="time">16:30</span></span>
      </div>
      <div class="desc">We wrap up the day by reflecting on what we've learned and sharing some of the highlights.</div>
    </div>
  </li>
  <!-- Item 10 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
	<span class="flag">Evening social</span>
        <span class="time-wrapper"><span class="time">17:00</span></span>
      </div>
      <div class="desc">After a tiring day we head over to <a href="http://www.gasworksbrewbar.co.uk/">Gas Works</a> for a few snacks, drinks and no doubt more Java chat.
	      <br><br>Sponsored by... 
	      <a href="https://digitalblog.coop.co.uk/"><img src="{{ site.baseurl }}/assets/images/coopX2.png" style="width:50px; height:50px" title="Coop Digital" alt="Coop Digital"></a>
      </div>
    </div>
  </li>
</ul>
