<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
    <base href="{{ site.baseurl }}">
  </head>
    <section class="page-header">
      <a href="{{ site.baseurl }}/">
	     <img src="{{ site.baseurl }}/assets/images/LOGO-WHITEBG-nodate.png" alt="JMANC LOGO">
      </a>

      <nav class="primary-nav" id="nav">
        <label for="show-menu" class="show-menu"><img src="{{ site.baseurl }}/assets/images/menu_icon_white.png"> Menu</label>
        <input type="checkbox" id="show-menu" role="button">
      {% if page.url != '/' %}
        <a href="{{ site.baseurl }}/" class="btn">About</a>
      {% else %}
        <span class="btn btn--active">About</span>
      {% endif %}

      {% if page.url != '/schedule.html' %}
        <a href="{{ site.baseurl }}/schedule" class="btn">Schedule</a>
      {% else %}
        <span class="btn btn--active">Schedule</span>
      {% endif %}

      {% if page.url != '/tickets.html' %}
        <a href="{{ site.baseurl }}/tickets" class="btn">Tickets</a>
      {% else %}
        <span class="btn btn--active">Tickets</span>
      {% endif %}

      {% if page.url != '/sponsors.html' %}
        <a href="{{ site.baseurl }}/sponsors" class="btn">Sponsors</a>
      {% else %}
        <span class="btn btn--active">Sponsors</span>
      {% endif %}

      {% if page.url != '/code-of-conduct.html' %}
        <a href="{{ site.baseurl }}/code-of-conduct" class="btn">Code of conduct</a>
      {% else %}
        <span class="btn btn--active">Code of conduct</span>
      {% endif %}

      {% if page.url != '/contact.html' %}
        <a href="{{ site.baseurl }}/contact" class="btn">Contact</a>
      {% else %}
        <span class="btn btn--active">Contact</span>
      {% endif %}

      </nav>

    </section>
    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">JManc is brought to you by the <a href="https://www.meetup.com/ManchesterUK-Java-Community/">Manchester Java Community</a>.</span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
